@font-face {
    font-family: 'blender_probook';
    src: url('fonts/blenderpro-book-webfont.woff2') format('woff2'),
         url('fonts/blenderpro-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Formats the H1 text group */
h1 {
    color:#FFFFFF !important;
    font-family:blender_probook !important;
    }

/* Formats the H2 text group */
h2 {
    color:#FFFFFF !important;
    font-family:blender_probook !important;
    }

/* Formats the table group */

 table, th, td {
	border: 1px solid white;
	font-family:blender_probook;
	white-space: nowrap;
  	border-collapse: collapse;
	padding:20px;
	color:#FFFFFF
} 

/* Sets the background of the page */
body {	
	background-color: #202b33   		
	}
