@font-face {
    font-family: 'blender_probook';
    src: url('css/fonts/blenderpro-book-webfont.woff2') format('woff2'),
         url('css/fonts/blenderpro-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
    color:#FFFFFF !important;
    font-family:blender_probook !important;
    }

body {	
    background-image: url('grunge_patterns.jpg.png');
	background-attachment: fixed;
	color: #333;	
	}

